.CenterDiv {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: whitesmoke;
}

.Container {
    height: 100vh;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UsersContainer {
    height: 100vh;
    padding: 10px;
    background-color: whitesmoke;
}

.CenterContent {
    height: 100vh;
    padding-top: 100px;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.RightAllign {
    width: 100vw;
    position: relative;
    padding-right: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}